<!--
Our recent statuses, for the last hour or so.
-->

<div id="peco-status-recent-graph" >
<canvas id="peco-status-recent-chart" />
</div>

<!--
<div id="peco-status-recent-graph-OLD" >
<canvas id="peco-status-recent-chart-OLD" />
</div>
-->
<script>
/*
// Get the canvas element
var ctx = document.getElementById("peco-status-recent-chart-OLD").getContext('2d');

// Define the data for the line graph
var data = {
    labels: ['Jan1', 'Feb', 'Mar', 'Apr', 'May'],
    datasets: [{
        label: 'My Dataset',
        data: [10, 20, 15, 25, 30], // Your datapoints here
        borderColor: 'blue', // Color of the line
        borderWidth: 1 // Width of the line
    }]
};

// Create the line graph
var myChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        // Additional options here (e.g., title, legend, axes)
    }
});
*/

</script>

<div id="peco-status-recent-wrapper">

<div id="peco-status-recent-loading">Loading recent status data...</div>
<div id="peco-status-recent-error" class="hidden error display-none">Error fetching current status.</div>

<div id="peco-status-recent" class="hidden">
<p>
Previous stats:
</p>

<ul id="peco-status-recent-details"></ul>
</div>

</div><!-- /wrapper -->
